

PORT=<填入你的值>
API_TOKEN=<64位随机hex，启用后前端 localStorage 需存 api_token>

LLM_BASE_URL=<填入你的值>
LLM_MODEL=<填入你的值>
LLM_LIGHT_MODEL=<填入你的值>
LLM_VLM_MODEL=<填入你的值>
DASHSCOPE_API_KEY=<填入你的值>

WORKFLOW_LLM_API_KEY=<填入你的值>
WORKFLOW_LLM_MODEL=<填入你的值>

RUNNINGHUB_API_KEY=<填入你的值>

RH_FRAME_GRID_WORKFLOW_ID=<填入你的值>

RH_SHOT_GRID_WORKFLOW_ID=<填入你的值>


RH_H3_STORYBOARD_WORKFLOW_ID=<填入你的值>
RH_H3_OPTIMIZER_MODEL=<填入你的值>
RH_H3V2_TIMEOUT_MS=<填入你的值>

RH_H3_V4_MC_WORKFLOW_ID=<填入你的值>
RH_MOTION_CONTEXT_ENABLED=<填入你的值>

ZIKL_API_KEY=<填入你的值>
ZIKL_BASE_URL=<填入你的值>
ZIKL_IMAGE_MODEL=<填入你的值>
ZIKL_IMAGE_SIZE=<填入你的值>

VISIONARY_API_KEY=<填入你的值>
VISIONARY_BASE_URL=<填入你的值>
VISIONARY_IMAGE_MODEL=<填入你的值>
VISIONARY_IMAGE_RESOLUTION=<填入你的值>
VISIONARY_IMAGE_SIZE=<填入你的值>
VISIONARY_OPTIMIZE_CHINESE_TEXT=<填入你的值>
VISIONARY_POLL_INTERVAL_MS=<填入你的值>
VISIONARY_MAX_POLL_MS=<填入你的值>

IMAGE_PROVIDER=<填入你的值>

IMAGE_REF_MAX_BYTES=<填入你的值>
IMAGE_REF_MAX_EDGE=<填入你的值>
ZIKL_ASSET_SIZE=<填入你的值>
VISIONARY_ASSET_SIZE=<填入你的值>

DEFAULT_ASPECT_RATIO=<填入你的值>
COMBAT_SHOT_MIN_SEC=<填入你的值>
COMBAT_SHOT_MAX_SEC=<填入你的值>
COMBAT_SHOT_DEFAULT_SEC=<填入你的值>
VIDEO_MEGAPIXELS=<填入你的值>
VIDEO_DEFAULT_MEGAPIXELS=<填入你的值>
VIDEO_SHOT_MIN_SEC=<填入你的值>
VIDEO_SHOT_MAX_SEC=<填入你的值>
VIDEO_SHOT_DEFAULT_SEC=<填入你的值>

ASSET_MAX_REFS=<填入你的值>
ASSET_MAX_SPATIAL_REFS=<填入你的值>
ASSET_MAX_PROP_REFS=<填入你的值>
